[submodule "pash"]
	path = pash
	url = https://github.com/binpash/pash.git
	branch = ft-orig-frozen
[submodule "docker-hadoop"]
	path = docker-hadoop
	url = https://github.com/binpash/docker-hadoop
	branch = ft-orig-frozen
